<h1>Peliculas</h1>

<input type="text" id="rangepicker">

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Url</th>
    <th>Fecha de presentación</th>
  </tr>
  <% @films.each do |f| %>
    <tr>
      <td><%= f.name %></td>
      <td><%= f.description %></td>
      <td><%= f.url %></td>
      <td><%= f.presentation %></td>
    </tr>
  <% end %>
</table>



<%= form_tag root_path, method: :get do %>
 <%= hidden_field_tag :start %>
 <%= hidden_field_tag :end %>
<% end %>

<script>
  $("#rangepicker").daterangepicker({}, function(start, end, label){
    $("#start").val(start.format('YYYY-MM-DD'));
    $("#end").val(end.format('YYYY-MM-DD'));

    $("form").submit();
  });
</script>
